
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Survey</h1>

<div>
    <a asp-action="Create">Create Survey</a>
    <p>Coming Soon: Will have list of your company's surveys with links to edit/delete.</p>
</div>


