@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to SurveyCo</h1>
        <p>We connect companies with their customers by helping companies create compelling surveys.</p>
        <a class="navbar-brand" asp-area="" asp-controller="Questionnaire" asp-action="Index">Sample Survey</a>
        <a class="navbar-brand" asp-area="" asp-controller="QuestionnaireInfo" asp-action="Index">Create Survey</a>
    </div>
