@model List<Question>
@{
    ViewData["Title"] = "Sample Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sample Survey Overview</h1>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Survey Overview
                    @*@Html.DisplayNameFor(model => model[0].QuestionText)*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionText)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Answer"><button type="button" class="btn btn-primary">Begin Survey</button></a>
}
else
{
    <p>No questionnaire found.</p>
}
